In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest, proportion_confint

In [2]:
df = pd.read_excel('r_data.xlsx')

In [3]:
df.head()

,customer_id,Recommendation_name,Recommendation_date,suggestion_type,purchase_flag
0,1.0,Recommend_screenguard,2021-07-02,With phone,0.0
1,2.0,Recommend_screenguard,2021-07-03,With phone,0.0
2,3.0,Recommend_screenguard,2021-07-04,With cover,1.0
3,4.0,Recommend_screenguard,2021-07-05,With phone,0.0
4,5.0,Recommend_screenguard,2021-07-06,With cover,1.0

In [4]:
df.describe()

       customer_id            Recommendation_date  purchase_flag
count   711.000000                            711     711.000000
mean    433.136428  2022-09-07 03:16:27.341772032       0.347398
min       1.000000            2021-07-02 00:00:00       0.000000
25%     215.000000            2022-02-01 00:00:00       0.000000
50%     426.000000            2022-08-31 00:00:00       0.000000
75%     649.500000            2023-04-11 12:00:00       1.000000
max     868.000000            2023-11-16 00:00:00       1.000000
std     253.236820                            NaN       0.476479

In [5]:
df.shape

(868, 5)

In [6]:
df.isna().any().any()

True

In [7]:
df.isna().count()

customer_id            868
Recommendation_name    868
Recommendation_date    868
suggestion_type        868
purchase_flag          868
dtype: int64

In [8]:
df.dropna(inplace = True)

In [9]:
df.isna().any().any()

False

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 711 entries, 0 to 867
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          711 non-null    float64
 1   Recommendation_name  711 non-null    object
 2   Recommendation_date  711 non-null    datetime64[ns]
 3   suggestion_type      711 non-null    object
 4   purchase_flag        711 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 33.3+ KB

In [11]:
df.groupby('suggestion_type')['purchase_flag'].value_counts()

suggestion_type  purchase_flag
With cover       0.0              206
                 1.0              130
With phone       0.0              258
                 1.0              117
Name: count, dtype: int64

In [12]:
with_phone_conv = 117 / (117 + 258)
with_cover_conv = 130 / (130 + 206)
print(f'with_phone_conv = {with_phone_conv}  \nwith_cover_conv = {with_cover_conv}')

with_phone_conv = 0.312
with_cover_conv = 0.3869047619047619

In [13]:
successes = np.array([117, 130])
trials = np.array([117 + 258, 130 + 206])

In [14]:
z_stat, p_value = proportions_ztest(successes, trials)
print("z_stat =",z_stat,"\np_value =",p_value)

z_stat = -2.0942187032220567
p_value = 0.036240502411764304

In [15]:
alpha = 0.05
if p_value < alpha:
    print('Reject the null hypothesis')
else :
    print("Fail to reject the null hypothesis")

Reject the null hypothesis

In [16]:
confidence_inter = proportion_confint(successes, trials, alpha=0.05, method='normal')
confidence_inter

(array([0.26510744, 0.33482794]), array([0.35889256, 0.43898158]))